@use "sass:map";
@use "@angular/material" as mat;

.kanban-board-story {
  @include mat.elevation(2);
}

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $foreground-palette: map.get($color-config, "foreground");

  .kanban-board-story {
    background-color: mat.get-color-from-palette(
      $foreground-palette,
      base,
      0.08
    );
  }

  .kanban-board-story-owners {
    color: mat.get-color-from-palette($foreground-palette, secondary-text);
  }
}

@mixin typography($theme) {
  $typography-config: mat.get-typography-config($theme);

  .kanban-board-story-type,
  .kanban-board-story-owners {
    @include mat.typography-level($typography-config, "caption");
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }

  $typography-config: mat.get-typography-config($theme);
  @if $typography-config != null {
    @include typography($theme);
  }
}
