<ng-container *ngIf="pivotalStories$ | async as pivotalStories">
  <div class="kanban-board-column-title">
    {{ pivotalStoryState | capitalize }}
  </div>
  <div
    class="kanban-board-column-stories"
    cdkDropList
    cdkDropListSortingDisabled
    [id]="pivotalStoryState"
    [cdkDropListData]="pivotalStories"
    (cdkDropListDropped)="storyDropped($event)"
    [cdkDropListConnectedTo]="connectedPivotalStoryStates"
    [cdkDropListEnterPredicate]="canPivotalStoryEnterState"
  >
    <app-kanban-board-story
      cdkDrag
      [id]="pivotalStoryState"
      *ngFor="let pivotalStory of pivotalStories"
      [cdkDragData]="pivotalStory"
      [pivotalStory]="pivotalStory"
    >
    </app-kanban-board-story>
  </div>
</ng-container>
