<h1 mat-dialog-title class="settings-dialog-title">
  <mat-icon>settings</mat-icon>
  Settings
</h1>
<form mat-dialog-content [formGroup]="settingsFormGroup" class="settings-form">
  <mat-form-field class="settings-form-field">
    <mat-label>Pivotal API Token</mat-label>
    <input matInput formControlName="pivotalApiToken" />
    <mat-hint>The pivotal api token located in your profile</mat-hint>
  </mat-form-field>
  <mat-form-field class="settings-form-field">
    <mat-label>Pivotal Project Id</mat-label>
    <input matInput formControlName="pivotalProjectId" />
    <mat-hint
      >Ex: https://www.pivotaltracker.com/n/projects/<b>12345</b></mat-hint
    >
  </mat-form-field>
</form>
<div mat-dialog-actions align="end">
  <span class="settings-dialog-error" *ngIf="settingsState === 'TEST_FAILED'">
    Error connecting to Pivotal Api
  </span>
  <button
    mat-button
    (click)="test()"
    [disabled]="settingsState !== 'READY_TO_TEST'"
  >
    Test
  </button>
  <button
    mat-button
    (click)="save()"
    [disabled]="settingsState !== 'TEST_SUCCEEDED'"
  >
    Save
  </button>
  <button mat-button color="warn" (click)="cancel()">Cancel</button>
</div>
