<app-kanban-board-column
  [pivotalStoryState]="PivotalStoryState.Planned"
></app-kanban-board-column>
<app-kanban-board-column
  [pivotalStoryState]="PivotalStoryState.Started"
></app-kanban-board-column>
<app-kanban-board-column
  [pivotalStoryState]="PivotalStoryState.Finished"
></app-kanban-board-column>
<app-kanban-board-column
  [pivotalStoryState]="PivotalStoryState.Delivered"
></app-kanban-board-column>
<app-kanban-board-column
  [pivotalStoryState]="PivotalStoryState.Accepted"
></app-kanban-board-column>
