// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

// Plus imports for other components in your app.
@use "./app/components/settings-dialog/settings-dialog.theme.scss" as
  settings-dialog;
@use "./app/components/kanban-board-column/kanban-board-column.theme.scss" as
  kanban-board-column;
@use "./app/components/kanban-board-story/kanban-board-story.theme.scss" as
  kanban-board-story;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$pivotal-kanban-primary: mat.define-palette(mat.$cyan-palette);
$pivotal-kanban-accent: mat.define-palette(mat.$yellow-palette);

// The warn palette is optional (defaults to red).
$pivotal-kanban-warn: mat.define-palette(mat.$red-palette);

$pivotal-kanban-typography: mat.define-typography-config();

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$pivotal-kanban-theme: mat.define-dark-theme(
  (
    color: (
      primary: $pivotal-kanban-primary,
      accent: $pivotal-kanban-accent,
      warn: $pivotal-kanban-warn,
    ),
    typography: $pivotal-kanban-typography,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($pivotal-kanban-theme);

@include settings-dialog.theme($pivotal-kanban-theme);
@include kanban-board-column.theme($pivotal-kanban-theme);
@include kanban-board-story.theme($pivotal-kanban-theme);

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
