@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $warn-palette: map.get($color-config, "warn");

  .settings-dialog-error {
    color: mat.get-color-from-palette($warn-palette, 500);
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }
}
